<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Insert Title</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="static/progress.js"></script>
        <script>
        $(document).ready(function(){
            $("#hide").click(function(){
                $("#bar").hide();
            });
            $(".show").click(function(){
                $("#bar").show();
            });
            $(".show2").click(function(){
                $("#bar2").show();
            });
        });
        </script>
    </head>
    <body>
        
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <button id="clickme" class="show show2" onclick="alert({{time}}); this.onclick=null; showBar(); hideBar({{time}});">Click me</button>
                    <div id="bar" class="counter" style="display:none">0</div>
                    <div id="bar2" class="progressbar" style="display:none">
                        <span class="progress"></span>
                    </div>
                    <button id="proceed" onclick="this.onclick=null; showText();" style="display:none">Proceed</button>
                    <div id="text" style="display:none">
                        <p>Progress bar complete!</p>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Save changes</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

















    </body>
</html>