<!DOCTYPE html>
<html lang="en">
    <head> 
        {% block head %}{% endblock %}
        <link rel="stylesheet" href="{{url_for('index')}}static/css/style.css">
        <script src="static/js/wavesurfer.js"></script>
        <script src="static/js/playhead.js"></script>
        <script src="static/js/jquery-3.6.4.min.js"></script>
        <script src="https://kit.fontawesome.com/c95fa3aabc.js" crossorigin="anonymous"></script>
    </head> 
    <body class="bg-dark text-light text-center"> 
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{url_for('index')}}">AudioCenter</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{url_for('editor')}}">Edit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{url_for('detect')}}">Detect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{url_for('convert')}}">Convert</a>
                        </li>
                    </ul>
                    <form class="d-flex" method="POST" action="{{url_for('signout')}}">
                        {%if userData.loggedIn == true%}
                            {%if userData.pfp == 1%}
                                <a href="{{url_for('profile')}}"><img class="rounded mx-auto" height="50" width="50" src="static/images/pfps/{{userData.username}}/pfp.png"></a>
                            {%else%}
                                <a href="{{url_for('profile')}}"><img class="rounded mx-auto" height="50" width="50" src="static/images/pfps/default-pfp.png"></a>
                            {%endif%}
                            <input type="submit" class="btn btn-danger" value="Sign Out">
                        {%else%}
                        <a href="{{url_for('login')}}"><img class="rounded mx-auto" height="50" width="50" src="static/images/pfps/default-pfp.png"></a>
                        {%endif%}
                    </form>
                </div>
            </div>
        </nav>
        {%for i in errors%}
            <h5 class="text-danger">{{i}}</h5>
        {%endfor%}
        {% block body %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
        <script src="static/js/progress.js"></script>
    </body> 
</html>