<!DOCTYPE html>
<html lang="en">
    <head> 
        {% block head %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="static/style.css"/>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    </head> 
    <body> 
    <div class="fade">
        <div id="buttontext"><a href="." class="plainlink">Audio Center</a>
            <span class="rightnav">
                <span class="topnav">
                    <a href="login">Log In</a>
                    <a href="editor">Editor</a>
                </span>
            </span>
            </div> 
        </div>
        {% block body %}
        {% endblock %}
    </body> 
</html>