{% extends "base.html.j2" %}

{% block head %}
        <title>Audio Center</title>
{% endblock %}

{% block body %}        
        <br><br><br>
        <div id="bgtext">
            <br>
            <div class="error">
                <p>{{error}}</p>
            </div>
            {%if out.type == "convert"%}
                <h3>Download: <a href="{{out.output}}" download>{{base}}</a></h3>
            {%endif%}
            <h5><i><a href="https://ffmpeg.org/ffmpeg-formats.html" target="_blank">List of Supported Formats <i class="fa-solid fa-arrow-up-right-from-square"></i></a></i></h5>
            <form method="POST" id="detectForm" enctype="multipart/form-data">
                <input style="display:none" type="file" id="fileInput" name="file"/>
                <select class="convertOptions">
                    <option>Convert to WAV</option>
                </select>
                <input class="convertOptions" type="submit" name="submit" value="Go!">
            </form>
            <div class="fadein">
                <h1>Convert Audio Files</h1>
                <h3><i>Drag and drop an audio file here</i></h3>
            </div>
        </div>
    </div>
    <script>
        document.getElementsByTagName("body")[0].ondragover = document.getElementsByTagName("body")[0].ondragenter = function(evt) {
            document.body.style.border = "5px dashed white"
            evt.preventDefault();
        };

        document.getElementsByTagName("body")[0].ondragleave = document.getElementsByTagName("body")[0].ondragleave = function(evt) {
            document.body.style.border = "none"
            evt.preventDefault();
        };

        document.getElementsByTagName("body")[0].ondrop = function(evt) {
            document.body.style.border = "none"
            evt.preventDefault()
            // pretty simple -- but not for IE :(
            fileInput.files = evt.dataTransfer.files;

            // If you want to use some of the dropped files
            const dT = new DataTransfer();
            dT.items.add(evt.dataTransfer.files[0]);
            fileInput.files = dT.files;
            $('.convertOptions').show()
        };
    </script>
{% endblock %}