{% extends "base.html.j2" %}

{% block head %}
        <title>Audio Center</title>
{% endblock %}

{% block body %}        
    <div class="bg">
        <br><br><br>
        <div id="bgtext">
            <div class="fadein">
                <p>Editor</p>
                <form method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="form" value="1">
                    <input type="file" name="file">
                    <input type="submit" name="submit" value="Upload">
                </form>
                <h5>Current File: {{fn}}</h5>
                {%if out.type == "detect"%}
                    <h3>{{out.output.title}}</h3>
                    <h4>{{out.output.artist}}</h4>
                    <img src="{{out.output.image}}">
                {%elif out.type == "files"%}
                {%for i in out.output%}
                    {%set ffn = i.split('/')%}
                    <a href="{{i}}" download>{{ffn[ffn|length-1]}}</a>
                {%endfor%}
                {%endif%}
                <form method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="form" value="2">
                    <input type="submit" name="convert" value="Convert to WAV">
                    <input type="submit" name="detect" value="Detect Song">
                    <input type="submit" name="keychange" value="Key Change">
                    <input type="submit" name="amplify" value="Amplify">
                    <input type="submit" name="split" value="Split">
                    <input type="submit" name="waveform" value="Display Waveform">
                </form>
                {{out.output[1]}}
                <canvas id="graph"></canvas>
            </div>
        </div>
    </div>
    <script>
        //var xValues = //[50,60,70,80,90,100,110,120,130,140,150];
        //var yValues = //[7,8,8,9,9,9,10,11,14,14,15];
        function drawGraph(xValues, yValues) {
            new Chart("graph", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(0,0,255,1.0)",
                borderColor: "rgba(0,0,255,0.1)",
                data: yValues
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                yAxes: [{ticks: {min: 6, max:16}}],
                }
            }
            });
        }
    </script>
    {%if out.type == "waveform"%}
    {{out.output[0]|list}}
    {%endif%}
    <script>
        var hi = 0;
        console.log(hi);
    </script>
{% endblock %}