{% extends "base.html.j2" %}

{% block head %}
        <title>Audio Center</title>
        <style>
            #progress {
                background-color: blue;
                opacity: 0.5;
                border-radius: 5px;
            }
        </style>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#hide").click(function(){
                    $("#bar").hide();
                });
                $(".show").click(function(){
                    $("#bar").show();
                });
                $(".show2").click(function(){
                    $("#bar2").show();
                });
            });
        </script>
        <script>
            var trackData = []
        </script>
{% endblock %}

{% block body %}        
    <div class="">
        <div id="bgtext">
            <div class="fadein">
                <div class="error">
                    <p>{{error}}</p>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light" id="editorRibbon" style="background-color: #91d4b1;">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    File
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <label for="file-open-new" class="dropdown-item">Open as New Track</label>
                                    <form method="POST" class="file-open-form" style="display: none" enctype="multipart/form-data">
                                        <input type="hidden" name="form" value="1">
                                        <input type="hidden" name="track" value="new">
                                        <input type="file" class="file-open" onchange="$(this).parent().submit()" name="file-open" id="file-open-new" style="display:none">
                                    </form>
                                    <label class="dropdown-item show show2 btn" data-bs-toggle="modal" data-bs-target="#downloadModal">Download</label>
                                    <label class="dropdown-item show show2 btn" data-bs-toggle="modal" data-bs-target="#saveToProfileModal">Save to Profile</label>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Edit
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <label class="dropdown-item show show2 btn" data-bs-toggle="modal" data-bs-target="#cutModal">Cut</label>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Effect
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <label class="dropdown-item show show2 btn" data-bs-toggle="modal" data-bs-target="#keyModal">Key Change</label>
                                    <label class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ampModal">Amplify</label>
                                    <label class="dropdown-item show show2 btn" onclick="alertModal(1.2*{{fileLength}} + 15); this.onclick=null; showBar(); hideBar(1.2*{{fileLength}} + 15);" data-bs-toggle="modal" data-bs-target="#splitModal">Split Tracks</label>
                                    <label class="dropdown-item" data-bs-toggle="modal" data-bs-target="#speedModal">Speed Change</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div id="bar" class="counter" style="">0</div>
                                <div id="bar2" class="progressbar" style="">
                                    <span class="progress"></span>
                                </div>
                                <div id="text" style="display:none">
                                    <p>All done!</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {%for i in out['output']%}
                <div class="track" fn="{{i}}">
                    <div class="waveform" id="waveform{{loop.index0}}"></div>
                    <div class="spectogram"></div>
                    <div class="track-controls">
                        <label>Track {{loop.index}} | </label>
                        <label>Zoom: 0%</label>
                        <input type="range" class="zoomRange" value="0">
                        <label>100%</label>
                        <button class="btn btn-primary" class="playPause" id="playPause{{loop.index0}}" onclick="trackData[{{loop.index0}}].ws.playPause()">Play/Pause</button>
                        <form method="POST" class="file-open-form" enctype="multipart/form-data">
                            <input type="hidden" name="form" value="1">
                            <input type="hidden" name="track" value="{{loop.index0}}">
                            <input class="btn btn-primary" type="file" onchange="$(this).parent().submit()" class="file-open" name="file-open">
                        </form>
                        <form method="POST">
                            <input type="hidden" name="form" value="2">
                            <input type="hidden" name="track" value="{{loop.index0}}">
                            <input type="submit" name="delete-track" class="btn btn-danger" value="Delete Track">
                        </form>
                    </div>
                </div>
                {%endfor%}

                    <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data">
                                        <input type="hidden" name="form" value="2">
                                        <h5>Download Audio</h5>
                                        <label>Download Individually</label><input type="radio" name="download-type" value="i" checked><br>
                                        <label>Download Mixed</label><input type="radio" name="download-type" value="m"><br>
                                        {%for i in out['output']%}
                                        <label>Track {{loop.index}}</label><input type="checkbox" name="track" value="{{loop.index0}}" checked>
                                        {%endfor%}
                                        <br>
                                        <input type="submit" class="btn btn-primary" name="download" value="Download">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="saveToProfileModal" tabindex="-1" role="dialog" aria-labelledby="saveToProfileModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data">
                                        <input type="hidden" name="form" value="2">
                                        <h5>Save Audio to Profile</h5>
                                        {%for i in out['output']%}
                                        <label>Track {{loop.index}}</label><input type="checkbox" name="track" value="{{loop.index0}}" checked>
                                        {%endfor%}
                                        <br>
                                        <label>Post Name</label><br>
                                        <input required maxlength="20" type="text" name="posttitle"><br>
                                        <label>Post Body</label><br>
                                        <textarea required name="postbody"></textarea><br>
                                        <label>Private</label>
                                        <input checked type="radio" required name="vis" value="private"><br>
                                        <label>Followers Only</label>
                                        <input type="radio" required name="vis" value="followers"><br>
                                        <label>Public</label>
                                        <input type="radio" required name="vis" value="public"><br>
                                        <input class="btn btn-primary" type="submit" name="savepost" value="Save">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="cutModal" tabindex="-1" role="dialog" aria-labelledby="cutModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data">
                                        <input type="hidden" name="form" value="2">
                                        <input type="hidden" class="selected" name="selected" value="">
                                        <h5>Cut Selected Audio</h5>
                                        {%for i in out['output']%}
                                        <label>Track {{loop.index}}</label><input type="checkbox" name="track" value="{{loop.index0}}" checked>
                                        {%endfor%}
                                        <br>
                                        <input type="submit" class="btn btn-primary" name="cut" value="Cut">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="keyModal" tabindex="-1" role="dialog" aria-labelledby="keyModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data">
                                        <input type="hidden" name="form" value="2">
                                        <input type="hidden" class="selected" name="selected" value="">
                                        <h5>Change Key</h5>
                                        <label>Apply to Selected Audio</label><input type="radio" name="select-type" value="s" checked><br>
                                        <label>Apply to Full Audio</label><input type="radio" name="select-type" value="f"><br>
                                        {%for i in out['output']%}
                                        <label>Track {{loop.index}}</label><input type="checkbox" name="track" value="{{loop.index0}}" checked>
                                        {%endfor%}
                                        <br>
                                        <input type="range" name="steps" min="-10" max="10" step="1" oninput="document.getElementById('keyValue').innerHTML = this.value">
                                        <input class="show show2 btn btn-primary" onclick="alertModal(1.1*{{fileLength}} + 15); this.onclick=null; showBar(); hideBar(1.1*{{fileLength}} + 15); $('#mainform').submit()" type="submit" name="key-change" value="Change">
                                        <br><h5>Half-Steps: <output id="keyValue">0</output></h5>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="ampModal" tabindex="-1" role="dialog" aria-labelledby="ampModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data">
                                        <input type="hidden" name="form" value="2">
                                        <h5>Change Amplify Factor</h5>
                                        {%for i in out['output']%}
                                        <label>Track {{loop.index}}</label><input type="checkbox" name="track" value="{{loop.index0}}" checked>
                                        {%endfor%}
                                        <br>
                                        <input type="range" name="factorAmp" min="0.1" max="4" step="0.1" oninput="document.getElementById('ampValue').innerHTML = this.value">
                                        <input class="btn btn-primary" type="submit" name="amplify" value="Change">
                                        <br><h5>Steps: <output id="ampValue">2</output></h5>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="splitModal" tabindex="-1" role="dialog" aria-labelledby="splitModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data">
                                        <input type="hidden" name="form" value="2">
                                        <input type="hidden" class="selected" name="selected" value="">
                                        <h5>Split Tracks</h5>
                                        {%for i in out['output']%}
                                        <label>Track {{loop.index}}</label><input type="checkbox" name="track" value="{{loop.index0}}" checked>
                                        {%endfor%}
                                        <br>
                                        <input type="submit" class="btn btn-primary" name="split-tracks" value="Split">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="speedModal" tabindex="-1" role="dialog" aria-labelledby="speedModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data">
                                        <input type="hidden" name="form" value="2">
                                        <input type="hidden" class="selected" name="selected" value="">
                                        <h5>Change Speed Factor</h5>
                                        <label>Apply to Selected Audio</label><input type="radio" name="select-type" value="s" checked><br>
                                        <label>Apply to Full Audio</label><input type="radio" name="select-type" value="f"><br>
                                        {%for i in out['output']%}
                                        <label>Track {{loop.index}}</label><input type="checkbox" name="track" value="{{loop.index0}}" checked>
                                        {%endfor%}
                                        <br>
                                        <input type="range" name="factorSpeed" min="0.1" max="4" step="0.1" oninput="document.getElementById('speedValue').innerHTML = this.value">
                                        <input class="btn btn-primary" type="submit" name="speed-change" value="Change">
                                        <br><h5>Steps: <output id="speedValue">2</output></h5>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <script type="module">
        // Spectrogram plugin
import WaveSurfer from 'https://unpkg.com/wavesurfer.js@beta'
import Spectrogram from 'https://unpkg.com/wavesurfer.js@beta/dist/plugins/spectrogram.js'
import RegionsPlugin from 'https://unpkg.com/wavesurfer.js@beta/dist/plugins/regions.js'

//TRACKDATA IS DEFINED IN HEAD 

var selectedRegions = []

class AudioTrack {
    constructor(fn, container, index) {
        // Create an instance of WaveSurfer
        this.ws = WaveSurfer.create({
            container: '#' + container,
            waveColor: 'rgb(200, 0, 200)',
            progressColor: 'rgb(100, 0, 100)',
            url: fn,
            sampleRate: 22050,
        })

        // Initialize the Spectrogram plugin
        this.ws.registerPlugin(
            Spectrogram.create({
                labels: true,
                height: 128,
            }),
        )

        this.wsRegions = this.ws.registerPlugin(RegionsPlugin.create())

        this.ws.on('decode', () => {
            // Regions
            this.wsRegions.addRegion({
                start: 4,
                end: 7,
                content: 'Selected',
                color: 'rgba(220, 255, 51, 0.3)',
            })
            selectedRegions[index] = [4, 7, this.wsRegions.regions[0].totalDuration]
            $('.selected').val(selectedRegions)

            const slider = document.querySelector('input[type="range"]')

            slider.addEventListener('input', (e) => {
                const minPxPerSec = e.target.valueAsNumber
                this.ws.zoom(minPxPerSec)
            })
        })

        this.wsRegions.on('region-updated', (region) => {
            console.log('Updated region', region)
            selectedRegions[index] = [region.start, region.end, region.totalDuration]
            $('.selected').val(selectedRegions)
        })
    }
}

let tracks = document.getElementsByClassName("track")
console.log(tracks)
for (let i = 0; i < tracks.length; i++) {
    trackData.push(new AudioTrack(tracks[i].getAttribute("fn"), "waveform" + i, i))
}




$('#deleteButton').on('click', () => {
    $('#totalWidth').val(totalWidth)
    $('#startPoint').val(startCut)
    $('#endPoint').val(endCut)
    $('#deleteForm').submit()
})

function effectForms() {
    $('#effectsTotalWidth').val(totalWidth);
    $('#effectsStartPoint').val(startCut);
    $('#effectsEndPoint').val(endCut);
    return true;
}

$('#file-open').on('change', () => {
    $('#file-open-form').submit()
})


    </script>
{% endblock %}