{% extends "base.html.j2" %}

{% block head %}
        <title>Audio Center</title>
        <style>
            #progress {
                background-color: blue;
                opacity: 0.5;
                border-radius: 5px;
            }
        </style>
{% endblock %}

{% block body %}        
    <div class="bg4">
        <br><br><br>
        <div id="bgtext">
            <div class="fadein">
                {%for i in errors%}
                <h5 class="text-danger">{{i}}</h5>
                {%endfor%}
                <h1>Audio Editor</h1>
                <form method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="form" value="1">
                    <input class="btn" type="file" name="file">
                    <input class="btn btn-primary" type="submit" name="submit" value="Upload">
                </form>
                <h5>Current File: {{fn}}</h5>
                {%if out.type == "detect"%}
                    <h3>{{out.output.title}}</h3>
                    <h4>{{out.output.artist}}</h4>
                    <img src="{{out.output.image}}">
                {%elif out.type == "files"%}
                {%for i in out.output%}
                    {%set ffn = i.split('/')%}
                    <h3>Download: <a href="{{i}}" download>{{ffn[ffn|length-1]}}</a></h3>
                {%endfor%}
                {%endif%}
                <div id="waveform"></div>
                <form method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="form" value="2">
                    <input class="btn" type="submit" name="convert" value="Convert to WAV">
                    <input class="btn" type="submit" name="detect" value="Detect Song">
                    <input class="btn" type="submit" name="keychange" value="Key Change">
                    <input class="btn" type="submit" name="amplify" value="Amplify">
                    <input class="btn" type="submit" name="split" value="Split">
                    <input class="btn" type="submit" name="waveform" value="Display Waveform">
                    <input class="btn" type="hidden" name="newdata" id="elbruh">
                    <input class="btn" type="submit" name="cut" value="Cut">
                </form>
            </div>
        </div>
    </div>
    <script>
        var wavesurfer = WaveSurfer.create({
            container: "#waveform",
            waveColor: "violet",
            progressColor: "purple",
            plugins: [
            WaveSurfer.playhead.create({
                returnOnPause: true,
                moveOnSeek: true,
                draw: true
            })
        ]
        });
        wavesurfer.load("{{fn}}")
    </script>
{% endblock %}