{% extends "base.html.j2" %}

{% block head %}
        <title>Audio Center</title>
{% endblock %}

{% block body %}        
    <div class="bg">
        <br><br><br>
        <div id="bgtext">
            <div class="fadein">
                {%if userData["loggedIn"]%}
                <h1 class="maintext">Home</h1>
                <div id="posts" class="bg-dark">
                    <br>
                    <button class="btn btn-primary">For You</button><button class="btn btn-secondary">Trending</button>
                    {%for i in posts%}
                        <div class="post">
                            <h1 class="post-title">{{i.url}}</h1>
                            <h3 class="post-author"><a href="@{{i.author}}">{{i.author}}</a></h3>
                            <p clas="post-body">{{i.url}}</p>
                            <button class="btn btn-success"><i class="fa-regular fa-thumbs-up"></i></button>
                            <button class="btn btn-danger"><i class="fa-regular fa-thumbs-down"></i></button>
                        </div>
                        <hr>
                    {%endfor%}
                </div>
                {%else%}
                <h1 class="maintext">Audio Center</h1>
                {%endif%}
            </div>
        </div>
    </div>
{% endblock %}