{% extends "base.html.j2" %}

{% block head %}
        <title>Audio Center</title>
{% endblock %}

{% block body %}        
    <div class="bg">
        <br><br><br>
        <div id="bgtext">
            <div class="fadein">
                {%if userData["loggedIn"]%}
                <h1 class="maintext">Home</h1>
                <div id="posts" class="bg-dark">
                    <br>
                    <button class="btn btn-primary">For You</button><button class="btn btn-secondary">Trending</button>
                    {%for i in posts%}
                        <div class="post">
                            <h1 class="post-title">{{i.title}}</h1>
                            {{i}}
                            <h3 class="post-author"><a href="@{{i.author}}">{{i.author}}</a></h3>
                            <p clas="post-body">{{i.url}}</p>
                            <button class="btn btn-success likebutton" id="{{i["id"]}}.like">{%if i.liked == 1%}<i class="fa-solid fa-thumbs-up"></i>{%else%}<i class="fa-regular fa-thumbs-up"></i>{%endif%}</button>
                            <button class="btn btn-danger likebutton" id="{{i["id"]}}.dislike">{%if i.liked == -1%}<i class="fa-solid fa-thumbs-down"></i>{%else%}<i class="fa-regular fa-thumbs-down"></i>{%endif%}</button>
                        </div>
                        <hr>
                    {%endfor%}
                </div>
                {%else%}
                <h1 class="maintext">Audio Center</h1>
                {%endif%}
                <script>
                $('.likebutton').on('click', () => {
                    
                    fd.append("likeOrDislike", likeOrDislike)
                    $.ajax({
                        type: "POST",
                        url: "/like",
                        data: fd,
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: function(result) {
                            console.log(result)
                        },
                        error: function(result) {
                            console.log(result)
                        }
                    })  
                })
                </script>
            </div>
        </div>
    </div>
{% endblock %}