{% extends "base.html.j2" %}

{% block head %}
        <title>{{user}}</title>
{% endblock %}

{% block body %}
{% if spinoff %}
<div class="bg2spinoff">
{% else %}
<div class="allowover">
<div class="bg2">
{% endif %}
    <br>
    <div>
    <div class="container">
        <label for="file-input">
            {%if userToShowData.pfp == 1%}
                <img class="rounded mx-auto" height="200" width="200" src="static/images/pfps/{{userToShowData.username}}/pfp.png">
            {%else%}
                <img class="rounded mx-auto" height="200" width="200" src="static/images/pfps/default-pfp.png">
            {%endif%}
        </label>
        {%if userToShowData.username == userData.username%}
        <form method="POST" id="pfpform" enctype="multipart/form-data">
            <input type="hidden" name="formnum" value="0">
            <input id="file-input" name="file-input" type="file" style="display:none"/><br><br>
        </form>
        {%endif%}
        <div class="textedit" id="usernamecontainer">
            <h1 class="text" id="username">@{{userToShowData.username}}</h1>
            {%if userToShowData.username != userData.username%}
                {%if userToShowData.following == 0%}
                <button class="btn btn-primary" id="followBtn">Follow</button>
                {%else%}
                <button class="btn btn-light" id="followBtn">Following</button>
                {%endif%}
            {%endif%}
            <form class="form" method="POST">
                <input type="hidden" name="formnum" value="1">
                <input class="form-control editor" name="username"></textarea>
                <button class="btn btn-primary">Save</button>
            </form>
        </div>
        <div class="textedit" id="biocontainer">
            <p class="text" id="bio">{{userToShowData.bio}}</p>
            <form class="form" method="POST">
                <input type="hidden" name="formnum" value="2">
                <textarea class="form-control editor" name="bio"></textarea>
                <button class="btn btn-primary">Save</button>
            </form>
        </div>
        {%if userToShowData.username == userData.username%}
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit User Info</h5>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        <input type="hidden" name="formnum" value="3">
                        <label><i class="fa-solid fa-location-dot ibr"></i></label><input type="text" name="place" id="placeinput" placeholder="Enter location..." maxlength="40"><br><br>
                        <label><i class="fa-solid fa-link ibr"></i></label><input type="url" name="website" id="websiteinput" placeholder="Enter website link..." maxlength="40"><br><br>
                        <input type="submit" class="btn btn-primary" value="Update">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
            </div>
        {%endif%}
        <h5><i class="fa-solid fa-location-dot ibr"></i><span id="placetext">{{userToShowData.place}}</span><i class="fa-solid fa-link ibr"></i><a target="_blank" href="{{userToShowData.website}}"><span id="websitetext">{{userToShowData.website}}</span></a><i class="fa-solid fa-calendar ibr"></i>{{userToShowData.joined}}{%if userToShowData.username == userData.username%}<i class="fa-solid fa-pen-to-square ibr iho" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>{%endif%}</h5>
        <h5 class="text-light"><span class="spanbr">{{userToShowData.followers|length}} Followers</span><span class="spanbr">{{userToShowData.following|length}} Following</span></h5>
        <h1>{{userToShowData.username}}'s Audio:</h1>
        {% for file in files %}
            {% set audio = path + '/' + file %}
            {{path}}<br>
            <a href="https://twitter.com/intent/tweet?text=Check out my AudioCenter creation: https://audio.center/{{path}}" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<br>
            <h3><a href={{audio}}>{{file}}</a></h3><br>
        {% endfor %}
    </div>
</div>
{%if userToShowData.username == userData.username%}
<script>
    $('#placeinput').val($('#placetext').html())
    $('#websiteinput').val($('#websitetext').html())

    $('.textedit .text').on('dblclick', e => {
        e.preventDefault()
        $('.form').hide()
        $('.text').show()
        $(`#${e.target.id}`).hide()
        $(`#${e.target.id}container .editor`).html($(`#${e.target.id}`).html().replace("@",""))
        $(`#${e.target.id}container .editor`).val($(`#${e.target.id}`).html().replace("@",""))
        $(`#${e.target.id}container .form`).show()
    })
    $(document).keyup(function(e) {
        if (e.key === "Escape") {
            $('.form').hide()
            $('.text').show()
        }
    });
    $('#file-input').on('change', () => {
        $('#pfpform').submit()
    })
</script>
{%else%}
<script>
    $('#followBtn').on('click', () => {
        if ($('#followBtn').html() == 'Follow') {
            $('#followBtn').html('Following')
            $('#followBtn').removeClass('btn-primary')
            $('#followBtn').addClass('btn-light')
        }
        else {
            $('#followBtn').html('Follow')
            $('#followBtn').removeClass('btn-light')
            $('#followBtn').addClass('btn-primary')
        }
        var fd = new FormData()
        fd.append("following", {{userToShowData.id}});
        $.ajax({
            type: "POST",
            url: "/follow",
            cache: false,
            data: fd,
            processData: false,
            contentType: false,
            success: function(result) {
                console.log(result)
            },
            error: function(result) {
                console.log(result)
            }
        })  
    })
</script>
{%endif%}
</div>
<br><br>
{% endblock %}