{% extends "base.html.j2" %}

{% block head %}
        <title>Sign Up</title>
{% endblock %}

{% block body %}
    <div class="bg2spinoff" id="fadefast">
        <br>
        <div class="fadein smtext" id="plain">
            <br>
            <h1>Sign Up</h1>
            <form method="POST" action="signup"> 
                Username: <br>
                <input type="text" name="username" value="" required> <br> <br>
                Password: <br> 
                <input type="password" name="paswd" value="" required> <br> <br>
                <input type="submit" value="Sign Up">
            </form>
            <br> 
            <br>
            <a href="{{url_for('login')}}" class="text-info">Already have an account? Click here</a>
        </div>
    </div>
{% endblock %}