{% extends "base.html.j2" %}

{% block head %}
        <title>Sign Up</title>
{% endblock %}

{% block body %}
    <div class="bg2 bg2spinoff" id="fadefast">
        <div class="fade">
            <div id="buttontext"><a href="." class="plainlink">Audio Center</a>
                <span class="rightnav">
                    <span class="topnav">
                        <a href="login">Log In</a>
                        <a href="archive">Archive</a>
                        <a href="about">About</a>
                    </span>
                </span>
            </div> 
        </div>
        <br> <br> <br> 
        <div class="fadein smtext" id="plain">
            <br>
            {% if invalid %}
                <div class="error">
                    <p>Oops! Looks like an account with that username already exists.</p>
                </div>
            {% endif %}
            <h1>Sign Up</h1>
            <form method="POST" action="signup"> 
                Username: <br>
                <input type="text" name="username" value="" required> <br> <br>
                Password: <br> 
                <input type="password" name="paswd" value="" required> <br> <br>
                <input type="submit" value="Sign Up">
            </form>
        </div>
    </div>
{% endblock %}