{% extends "base.html.j2" %}

{% block head %}
        <title>Sign Up</title>
{% endblock %}

{% block body %}
        <br>
        <div class="fadein smtext" id="plain">
            <br>
            {% if invalid %}
                <div class="error">
                    <p>Oops! Looks like an account with that username already exists.</p>
                </div>
            {% endif %}
            <h1>Sign Up</h1>
            <form method="POST" action="signup"> 
                Username: <br>
                <input type="text" name="username" value="" required> <br> <br>
                Password: <br> 
                <input type="password" name="paswd" value="" required> <br> <br>
                <input type="submit" value="Sign Up">
            </form>
        </div>
    </div>
{% endblock %}